body{
    margin: 0px;
    padding: 0px;
}
nav{
    
background-color: rgb(219, 189, 189);
    display: flex;
justify-content: space-between;
    align-items: center;
    gap: 8px; 
    padding: 6px 20px;
    box-shadow: 1px 1px 10px rgb(118, 116, 116)
}
.logo{
    background-color: green;
    height: 40px;
    width:40px;
    border-radius: 100%;
    font-size: 8px;
    display: flex;
    justify-content:center;
    align-items:center;
    color: rgb(58, 56, 56);
   
}
.menu{
 
margin-left: auto; 
    display: flex;
    gap: 16px;

}
.menu a{
    font-size: 16px;
    color:black;
    text-decoration: none;
    cursor: pointer;
    transition: all .5s linear;

}
.menu a:hover{
    color:red;
    font-size:12px;
}
.banner{
 height: 500px;
    width: 100%;
    float: left;
    margin: 20px;
}
.banner img{
 width:300px;
    border-radius: 5%;
    
}
.box{
    display: flex;
    justify-content: first baseline;
}

.background{
    
    height:600px;
    width:300px;
    background-image: url("./resources/Screenshot 2026-03-30 160346.png");
    background-repeat: no-repeat;
    background-size: cover;
}
@media(max-width:480px){
    body{
        background-color: red;
    }
    .logo{
        height:40px;
        width:40px;
        font-size: 14px;
    }
    .menu{
        display: none;
    }
    .menuicon{
        display:block;
    }
    .menu_icon svg{
        color:red;}

    .banner{
        height:200px;
    }
    }
